.contPadre {
    font-family: Arial, sans-serif;
    margin: 1em 5%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    position: relative; 
}

.menu {
    display: flex;
    flex-direction: column;
    background-image: url('cola.png'); 
    background-repeat: no-repeat; 
    background-position: right top; 
    background-size: auto; 
    padding: 1em; 
    position: relative; 
}

.menu::before {
    content: ''; 
    background-image: url('estrellas.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    position: absolute;
    left: 0; 
    bottom: 0; 
    width: 50px; 
    height: 50px; 
}
.menu::after {
    content: ''; 
    background-image: url('avion.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    position: absolute;
    left: 55px; 
    bottom: 0; 
    width: 100px; 
    height: 100px; 
}

.situaciones {
    display: flex;
    flex-direction: row;
}

.etiqueta {
    margin-left: 1em;
}

.botonIniciar {
    padding: 1em 2%;
    height: calc(6rem + 1vh);
}
.item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    font: inherit;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 1em 2%;
    margin: 1em;
    max-width: calc(15rem + 1vw);
    cursor: pointer; 
    user-select: none;
}

.item.selected {
    background-color: #3892D3;
    color: white;        
     
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1% 1fr;
    flex-direction: column;
}

.barraSeparadora {
    width: 1px;
    height: 80%;
    background-color: black;
    align-self: center;
    justify-self: center;
}

.controlFormulario {
    font: inherit;
    height: calc(2em + 1vh);
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 0.5em;
}
.controlFormulario:disabled {
    background-color: #f3f0f0; 
    color: #000000; 
    cursor: not-allowed; 
}

.tituloPrincipal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
}

.icono {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 50%;
    padding: 8px; 
}

.icono:hover {
    background-color: lightgray;
    transform: scale(0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}



.camposEntrada {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 5%;
}

.resultado {
    display: flex;
    flex-direction: column;
    padding: 5%;
}


.columnaResultados {
    display: none; 
    flex-direction: row;
}

.itemEntrada {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.itemResul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    font: inherit;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 1em 2%;
    margin: 1em;
    max-width: calc(15rem + 1vw);

}

.itemTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.itemTexto p {
    margin: 0;
    padding-left: 5px;
}


.boton {
    font-size: inherit;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: white;
    font-weight: bold;
    height: calc(2em + 1vh);
    background-color: #3892D3;
}

.boton:hover {
    box-shadow: 0 4px 16px rgb(148, 148, 148);
    transition: all 0.2s ease;
}

.estiloBoton {
    display: flex;
    justify-content: right;
    align-items: end;
}


.input-error {
    border: 1px solid red; 
}
.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center; 
}

.boton-aceptar {
    margin-top: 30px; 
    background-color: #3892D3;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.boton-aceptar:hover {
    background-color: #f0f0f0;
}
